.DS_Store
git-cheat-sheet.pdf
Misc/*
Cee/SciNet/*
FORTran/SciNet/*
Lessons/*
Algorithmia/*
python/ModernAnomalyDetectionMethods.ipynb
python/Rachel.py
python/__pycache__/*
python/*.png
python/*.txt
python/scikit-learn/DATA
python/scikit-learn/*.png
python/tensorflow/DATA
python/tensorflow/images
python/tensorflow/*ckpt*
python/tweepy/cov19thread.ini
python/.idea/
python/venv/
python/*.pyc
python/instance/
python/.pytest_cache/
python/.coverage
python/htmlcov/
python/dist/
python/build/
python/*.egg-info/
